# ─── Django ───────────────────────────────────────────────────────
DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=cambia-esto-por-una-clave-secreta-muy-larga-y-random-123456

# ─── Base de datos ────────────────────────────────────────────────
DB_NAME=lotex_db
DB_USER=lotex_user
DB_PASSWORD=lotex_pass
DB_HOST=db
DB_PORT=5432

# ─── Redis ────────────────────────────────────────────────────────
REDIS_URL=redis://redis:6379/0

# ─── Cloudinary (llenar después de crear cuenta gratis) ──────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ─── Resend (llenar después de crear cuenta gratis) ───────────────
RESEND_API_KEY=
DEFAULT_FROM_EMAIL=noreply@lotex.mx